<div class="row experience-class">
    <h2>Hard Skills</h2>
    <div class="col">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 justify-content-center">
                <i class="fa-brands fa-html5 fa-4x"></i><span>HTML5</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bar-html" role="progressbar" aria-label="Basic example" style="width:90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <i class="fa-brands fa-css3-alt fa-4x"></i><span>CSS</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bar-css" role="progressbar" aria-label="Basic example" style="width:90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <i class="fa-brands fa-square-js fa-4x"></i><span>JavaScript</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bar-js" role="progressbar" aria-label="Basic example" style="width:90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <i class="fa-brands fa-bootstrap fa-4x"></i><span>Bootstrap</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bar-bootstrap" role="progressbar" aria-label="Basic example" style="width:90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <i class="fa-brands fa-angular fa-4x"></i><span>Angular</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bar-angular" role="progressbar" aria-label="Basic example" style="width:90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <i class="fa-brands fa-npm fa-4x"></i><span>SQL</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bar-sql" role="progressbar" aria-label="Basic example" style="width:90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2>Soft Skills</h2>
    <div class="col">
        <div class="row">
            <div class="col col-md-auto">
                <img src="../../../assets/logo-tecnica5merlo.png" class="enterprise-academy img-fluid">
            </div>
            <div class="col">
                <ul class="fa-ul">
                    <h5>Escuela de Educación Secundaria Técnica N°5</h5>
                    <li><span class="fa-li"><i class="fa-solid fa-check-square"></i></span>Estudios secundarios terminados</li>
                    <li><span class="fa-li"><i class="fa-solid fa-globe"></i></span>Libertad, Merlo, Buenos Aires.</li>
                    <li><span class="fa-li"><i class="fa-solid fa-user-graduate"></i></span>Técnico en Servicios Turísticos.</li>
                </ul>
            </div>
        </div>
    </div>
</div>