h2 {
    text-align: center;
    font-size: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

h3 {
    text-align: center;
    font-size: 2.3vw;
    padding-top: 7px;
    padding-bottom: 30px;
    color: white;
}

h4 {
    font-size: 1.5vw;
    color: white;
    text-align: center;
}

.experience-class {
    margin: 2em auto;
    padding: 2%;
    width: 80%;
    height: auto;
    background-color: rgb(7, 36, 50);
    color: white;
}

.enterprise-academy {
    width: 10em;
}

/* barra de progreso */
.container-img {
    justify-content:flex-end;
}
.container-info {
    justify-content:flex-start;
}

.progress-bar{
	color: #000000;
	font-weight: 800;
	font-size:1.5em;
}

.bar-html{
	background-color: #f15e5e;
}
.bar-css{
	background-color: #00c3ff;
}
.bar-js{
	background-color: #cfd300;
}
.bar-bootstrap{
	background-color: #9d04cc;
}
.bar-angular{
	background-color: #ff0000be;
}
.bar-springboot{
	background-color: #109c1b;
}
.bar-sql{
	background-color: #5b8ce7;
}

.progress-design {
    width: 100%;
    height: 20px;
    background-color: rgba(254,254,254,.5);
    border-radius: 10px;
    box-shadow: 4px 25px 50px rgba(0,0,0,.1)
}

.progress-percent {
    width: var(--w);
    height: 20px;
    background-color: rgba(255, 255, 140,1);
    border-radius: 10px;
    animation: fill-bar 5s ease;
}

@keyframes fill-bar {
    0% {
        width: 0%;
    }
    100% {
        width: var(--w);
    }
}

@media (max-width:767px){
    /* menores a 768px */
    h2 {
        display: block;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 5.5vw;
    }
    h3 {
        display: block;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 4.4vw;
    }
    h4 {
        font-size: 3.5vw;
    }
}