<header>
    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
        <div class="logo">
            <img src="../../../assets/logoap-simpleblack.png" alt="Argentina Programa" id="logo-img">
            <h2>Argentina Programa</h2>
        </div>
    </a>
    <nav>
        <a href="https://www.facebook.com/nicobenialgo/"><span class="fa-brands fa-facebook fa-2x color-anim nav-link" id="facebook" title="Facebook"></span></a>
        <a href="https://www.instagram.com/nicobenialgo/"><span class="fa-brands fa-instagram fa-2x color-anim nav-link" id="instagram" title="Instagram"></span></a>
        <a href="https://www.linkedin.com/in/nicobenialgo"><span class="fa-brands fa-linkedin fa-2x color-anim nav-link" id="linkedin" title="LinkedIn"></span></a>
        <a href="https://github.com/NicoBenialgo"><span class="fa-brands fa-github fa-2x color-anim nav-link" id="github" title="GitHub"></span></a>
        <a href="login.html" class="nav-login bgcolor-anim" target="_self">Iniciar sesión</a>
    </nav>
</header>
