body {
    font-family: 'Encode Sans', Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    min-height: 50px;
    background: rgb(22,22,22);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

#logo-img {
    height: 80px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
}

/*** REDES SOCIALES ***/

.nav-link {
    color: #ddd;
}

.nav-link:hover {
    color: #9cf5ff;
}

.color-anim:hover{
    transition-property: color;
    transition-duration: .5s;
}

/* hover en íconos de redes */
#facebook:hover {
    color:#337be1;
}
#instagram:hover {
    color:#e04014;
}
#linkedin:hover {
    color:#74c8e2;
}
#github:hover {
    color:#681e9a;
}

/*** LOGIN ***/
.nav-login {
    cursor: pointer;
    margin-left: 70px;
    margin-right: 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    color: #045C82;
    font-weight: bold;
}

.nav-login:hover {
    color: #b30255;
}

.nav-login:active {
    background-color: #b30255;
    color: white;
}

@media (max-width:649px) {
    header {
        flex-direction: column;
        padding: 15px 0px;
    }

    #logo-img {
        height: 50px;
        margin: 0 auto;
    }

    /**** DISEÑOS DE ACCESO A REDES ****/
    .nav-login{
        display: block;
        background-color: #222;
        border-radius: 1.5rem;
    }
    .nav-link{
        height: 40px;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .nav-login {
        margin: 0 auto;
    }
    .social a {
        display: inline-block;
        border-radius: 1rem;
    }
}