<div class="row experience-class">
    <h2>Experiencia laboral</h2>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <img src="../../../assets/logo-grido.png" class="enterprise-academy img-fluid">
            </div>
            <div class="col-9">
                <ul class="fa-ul">
                    <h5>Heladería Grido</h5>
                    <li><span class="fa-li"><i class="fa-solid fa-globe"></i></span>Barrio Rivadavia, Merlo, Buenos Aires.</li>
                    <li><span class="fa-li"><i class="fa-regular fa-calendar-days"></i></span>Desde enero del 2021 hasta la actualidad. Cumplo con tareas de ventas al consumidor final con manejo de caja, reposición y preparación de alimentos.</li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <h2>Educación</h2>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <i class="fa-solid fa-school-flag fa-5x"></i>
            </div>
            <div class="col-9">
                <ul class="fa-ul">
                    <h5>Escuela de Educación Secundaria Técnica N°5</h5>
                    <li><span class="fa-li"><i class="fa-solid fa-check-square"></i></span>Estudios secundarios terminados</li>
                    <li><span class="fa-li"><i class="fa-solid fa-globe"></i></span>Libertad, Merlo, Buenos Aires.</li>
                    <li><span class="fa-li"><i class="fa-solid fa-user-graduate"></i></span>Técnico en Servicios Turísticos.</li>
                </ul>
            </div>
        </div>
    </div>
</div>